/* MenuBoard.jsx */
.menu-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* MenuNav.jsx */
.menu-nav{
    display: flex;
    gap:10px;
    padding: 0;
    list-style-type: none;
}

.menu-nav > li{
    width:100px;
    padding:10px;
    text-align: center;
}

.menu-nav > li:hover{
    border-radius: 10px;
    background-color: gray;
    color:white;
}

.menu-list{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}